@import '../general/vars';
@import '../general/mixins';

.landing {
  width: 100%;
  height: $height-site;
  @include flex($direction: column, $justify: flex-start);
  background-color: $color-bg;
}