@import '../general/vars';
@import '../general/mixins';

.questions {
  width: 100%;
  position: relative;
  width: 1223px;
  margin: 0 auto 180px;
  @include flex($direction: column, $align: flex-start);
  z-index: 1;
}

.heading {
  width: 642px;
  margin-bottom: 54px;
  align-self: center;
  text-align: center;
  color: $color-clean;
}

.wrapper {
  width: 1460px;
  @include flex($justify: space-between, $align: flex-start);

  @media screen and (max-width: 1400px) {
    @include flex($direction: column);
    gap: 30px;
  }
}

.question img {
  position: absolute;
  top: -662px;
  left: -350px;
}

.description {
  width: 280px;
  color: $color-clean;
}

.accordion {
  width: 100%;
  @include flex($direction: column, $justify: space-between);
  gap: 24px;
}