@import '../general/vars';
@import '../general/mixins';

.showcase {
  padding-top: 25px;
  padding-bottom: 190px;
  z-index: 1;
}

.wrapper {
  position: relative;
  left: -10px;
  width: 1190px;
  height: 365px;
  margin: auto;
  
  @media screen and (max-width: 1400px) {
    width: 1050px;
    height: 280px;
    @include flex($direction: row, $justify: center, $align: flex-start);
  }
}

.heading {
  width: 1088px;
  @include flex($direction: column, $justify: center);
  gap: 10px;
  color: $color-clean;

  .secondH1Word {
    width: 100%;
    margin-top: -25px;
    text-align: end;
  }

  @media screen and (max-width: 1400px) {
    width: 800px;
    font-size: 100px;
  }
}

.description {
  position: absolute;
  top: 74px;
  right: 0;
  width: 360px;
  color: $color-clean;

  @media screen and (max-width: 1400px) {
    top: 50px;
  }
}

.subheading {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: $color-clean;
}

.btn {
  position: absolute;
  bottom: 82px;
  left: -7px;

  @media screen and (max-width: 1400px) {
    left: 70px;
    bottom: 50px;
  }
}